body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1d2d2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #575061;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #a14747;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

button {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.equals {
    grid-column: span 4;
}
